<a href="https://colab.research.google.com/github/MOHAN0283/PYTHON/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas

In [ ]:
import pandas
pandas.__version__

'1.3.4'

In [ ]:
import pandas

mydataset = {
  'donation time': ["morning", "afternoon", "night"],
    
  'amount of donation': ['less than 5kg','less than 10 and greater than 5kg',' more than 10kg']
}
myvar = pandas.DataFrame(mydataset)

print(myvar)
myvar.to_csv('mk1')

  donation time                 amount of donation
0       morning                      less than 5kg
1     afternoon  less than 10 and greater than 5kg
2         night                     more than 10kg

In [ ]:
import pandas as pd

mk = pd.read_csv('Book1.csv')

print(mk.to_string())

   s.no                  veg  Unnamed: 2          non veg
0     0  panner butte masala         NaN  chicken biryani
1     1                momos         NaN    chickenpakoda
2     2          butter naan         NaN     mutton pulsu

In [ ]:
# series one dimensional array and coloumn
import pandas as pd
a=['a','b','c']
b=pd.Series(a)
print(b)
print(a[0]) #we can print element by labeling

0    a
1    b
2    c
dtype: object
a

In [ ]:
# creating labels
a=['a','b','c']
b=pd.Series(a,index=['x','y','z'])
print(b)
print(b['x'])

x    a
y    b
z    c
dtype: object
a

In [ ]:
a={'m':80,'p':70,'c':100}#pandas from dict
b=pd.Series(a)
print(b)

m     80
p     70
c    100
dtype: int64

In [ ]:
a={'m':80,'p':'o','c':97.5}#pandas from deict and type order is obj,float,int
b=pd.Series(a)
print(b)

m      80
p       o
c    97.5
dtype: object

In [ ]:
a={'m':80,'p':70,'c':100}#pandas from dict and printing specified labels
b=pd.Series(a,index=['m','p'])
print(b)

m    80
p    70
dtype: int64

In [ ]:
# locate rows specifies one or more rows
a={'a':[1,2,3],
  'b':[4,5,6]}
b=pd.DataFrame(a)
print(b)
print(b.loc[0])

   a  b
0  1  4
1  2  5
2  3  6
a    1
b    4
Name: 0, dtype: int64

In [ ]:
# locate rows specifies one or more rows
a={'a':[1,2,3],
  'b':[4,5,6]}
b=pd.DataFrame(a)
print(b)
print(b.loc[[0,1]])

   a  b
0  1  4
1  2  5
2  3  6
   a  b
0  1  4
1  2  5

In [ ]:
# we can use index to give specified index
a={'x':[1,2,3],
  'y':[4,5,6]}
b=pd.DataFrame(a,index=['a','b','c'])
print(b)

   x  y
a  1  4
b  2  5
c  3  6

In [ ]:
# using locate to locate specified rows
a={'x':[1,2,3],
  'y':[4,5,6]}
b=pd.DataFrame(a,index=['a','b','c'])
print(b)
print(b.loc['a'])

   x  y
a  1  4
b  2  5
c  3  6
x    1
y    4
Name: a, dtype: int64

In [ ]:
a=pd.read_csv("mk.csv")
print(a.to_string())
print(a)
#If you have a large DataFrame with many rows, Pandas will only return the first 5 rows, and the last 5 rows

  subject  marks  rank
0       m     80  <250
1       p     74  <200
2       c    100   <10
  subject  marks  rank
0       m     80  <250
1       p     74  <200
2       c    100   <10

In [ ]:
import pandas as pd

print(pd.options.display.max_rows) 
#check max rows if 60 then hewadings and first and last 5 rows are returned

60

In [ ]:
# we can change the max_rows values
pd.options.display.max_rows=1000
a=pd.read_csv("mk.csv")
print(a)

  subject  marks  rank
0       m     80  <250
1       p     74  <200
2       c    100   <10

In [ ]:
#importing, exporting, changing name of pandas, knowing the version name,naming the series,index,deleting values in csv(dropna)

In [ ]:
a=pd.read_csv('mk.csv') #remove rows consisting empty values
b=a.dropna()
print(b)

  subject  marks  rank
0       m     80  <250
1       p     74  <200

In [ ]:
import pandas as pd
a = pd.read_csv('mk.csv')#remove rows with empty cells in the same data frame
a.dropna(inplace = True)
print(a.to_string())

  subject  marks  rank
0       m     80  <250
1       p     74  <200

In [ ]:
import pandas as pd
a = pd.read_csv('mk.csv')#replace empty cells with values
a.fillna('<10',inplace = True)
print(a.to_string())

  subject  marks  rank
0       m     80  <250
1       p     74   <10
2       c    100   <10

In [ ]:
import pandas as pd
a = pd.read_csv('mk.csv')#replace empty cells with values on specified coloumns
a['rank'].fillna('<10',inplace = True)
print(a.to_string())

  subject  marks  rank
0       m   80.0  <250
1       p    NaN   <10
2       c  100.0   <10

In [ ]:
import pandas as pd

a = pd.read_csv('mk.csv')# fill empty values with mean

x = a["marks"].mean()

a["marks"].fillna(x, inplace = True)
print(a)

  subject  marks  rank
0       m   80.0  <250
1       p   90.0   NaN
2       c  100.0   NaN

In [ ]:
import pandas as pd

a = pd.read_csv('mk.csv')# fill empty values with median 

x = a["marks"].median()

a["marks"].fillna(x, inplace = True)
print(a)

  subject  marks  rank
0       m   80.0  <250
1       p   90.0   NaN
2       c  100.0   NaN

In [ ]:
import pandas as pd

a = pd.read_csv('mk.csv')# fill empty values with mode

x = a["marks"].mode()[0]

a["marks"].fillna(x, inplace = True)
print(a)

  subject  marks  rank
0       m   80.0  <250
1       p   80.0   NaN
2       c  100.0   NaN

In [ ]:
import pandas as pd

df = pd.read_csv('mk.csv')

df['date'] = pd.to_datetime(df['date'])

print(df.to_string())

  subject  marks  rank       date
0       m     80  <250 2022-05-13
1       p    100  <100 2022-05-13
2       c    100   <50 2022-05-13

In [ ]:
import json

In [ ]:
x='{"name":"Mohan","age":"18","city":"vizag"}'
y=json.loads(x)
print(y)

{'name': 'Mohan', 'age': '18', 'city': 'vizag'}

"{\"name\":\"Mohan\",\"age\":\"18\",\"city\":\"vizag\"}"